.margin-top {
    margin-top: 30px;
}
li {
    cursor: pointer;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  

.img-responsive {
    height: 15em;
}

#liImage {
    height: 50px;
}
.text-center {
     text-align: center !important;
 }

 .background-div {
     background-color: #f2f2f2;
     padding: 20px;
     border-radius: 10px;
 } 
